.env
.env*.local
.env.production
.next
node_modules
public/uploads/*
!public/uploads/.gitkeep
prisma/dev.db
*.log
.DS_Store
Thumbs.db
.idea/
.vscode/
*.glb
*.gltf
*.ply
*.obj
*.mtl
*.zip
coverage/
.turbo/
tsconfig.tsbuildinfo
exemple/
